/**
 * @Project: JAYAYA CRM
 * @Author: Equipe JAYAYA
 * @Description: Feuille de style de l'onglet principal Parametres
 * @version: 1.0
 */
 
 
 
/* Partie Gauche
   ========================================================================== */
 
.partieG_onglet_parametres {
	border-right: 1px solid #E0E0E0;
	padding: 10px 10px 0px 10px;
}

/* Style du titre */
.partieG_onglet_parametres .content_titre_CI h2 {
	font-family: 'BebasNeueRegular', Arial, sans-serif;
	font-size: 20px;
	color: #4AB1D3;
	border-bottom: 2px solid #4AB1D3;
	margin-bottom: 10px;
}

/* Style de la liste */
.partieG_onglet_parametres  .liste_CI {
	border: 1px solid #E0E0E0;
}
.partieG_onglet_parametres  .liste_CI li {
	padding: 10px;
	font-size: large;
}
.partieG_onglet_parametres  .liste_CI li:hover {
	background-color: #c8f2ff;
}
.partieG_onglet_parametres  .liste_CI .rect_type {
	border: 1px solid #E0E0E0;
	margin-right: 10px;
}

/* Style du Bloc Options */
.partieG_onglet_parametres .options_liste_CI {
	margin-top: 10px;
	border-top: 1px solid #E0E0E0;
}
.partieG_onglet_parametres .options_liste_CI ul {
	margin: 10px;
}
.partieG_onglet_parametres #ajouter_CI {
	background:url('../img/plus.png') 0% 50% no-repeat no-repeat;
}

/* Popup nouveau centre d'interet */
.partieG_onglet_parametres .popup_nouveau_CI .titre_popup_nouveau_CI {
	margin-bottom: 10px;
}
.partieG_onglet_parametres .popup_nouveau_CI .formulaire_nouveau_CI {
	padding: 0px 10px;
}
.partieG_onglet_parametres .popup_nouveau_CI table th{
	vertical-align: top;
	text-align: right;
	font-weight: bold;
	color: #4AB1D3;
	padding: 2px 0px 2px 0px;
}
.partieG_onglet_parametres .popup_nouveau_CI table td{
	padding: 2px 0px 2px 0px;
}
.partieG_onglet_parametres .popup_nouveau_CI table .middle_form {
	padding: 0px 10px 0px 10px;
	vertical-align: top;
}
.partieG_onglet_parametres .popup_nouveau_CI table .val_form {
	width: 100%;
}
.partieG_onglet_parametres .popup_nouveau_CI table .val_form input{
	width: 100%;
}
.partieG_onglet_parametres .popup_nouveau_CI .btns_popup_nouveau_CI {
	margin: 0px 10px 10px 0px;
}
.partieG_onglet_parametres .popup_nouveau_CI .btns_popup_nouveau_CI input {
	margin: 10px 0px 10px 0px;
}



/* Partie Droite
   ========================================================================== */
   
.partieD_onglet_parametres {
	border-right: 1px solid #E0E0E0;
	padding: 10px 10px 0px 10px;
}

/* Style du titre */
.partieD_onglet_parametres .content_titre_users h2 {
	font-family: 'BebasNeueRegular', Arial, sans-serif;
	font-size: 20px;
	color: #4AB1D3;
	border-bottom: 2px solid #4AB1D3;
	margin-bottom: 10px;
}

/* Style du titre de la liste des utilisateurs */
.partieD_onglet_parametres .content_titre_liste_users div {
	float: left;
	width: 25%;
	text-align: center;
	font-size: large;
	padding: 5px 0px;
	font-family: 'BebasNeueRegular', Arial, sans-serif;
	color: #4AB1D3;
}

/* Style de la liste des utilisateurs */
.partieD_onglet_parametres .liste_users {
	border: 1px solid #E0E0E0;
}
.partieD_onglet_parametres .liste_users li {
	font-size: large;
	display: inline-block;
	width: 100%;
	border-bottom: 1px dashed #4AB1D3;
}
.partieD_onglet_parametres .liste_users li:hover {
	background-color: #c8f2ff;
}
.partieD_onglet_parametres .liste_users div {
	float: left;
	width: 25%;
	text-align: center;
	padding: 10px 0px;
	overflow: auto;
}
.partieD_onglet_parametres .liste_users .col_nom_0{
	width: calc(25% - 5px);
	color: #FF0000;
	font-weight: bold;
}
.partieD_onglet_parametres .liste_users .col_nom_1{
	width: calc(25% - 5px);
	color: #4AB1D3;
	font-weight: bold;
}
.partieD_onglet_parametres .liste_users .col_nom_2{
	width: calc(25% - 5px);
	color: #008500;
	font-weight: bold;
}

/* Style popup modifier utilisateur */
.partieD_onglet_parametres .popup_modif_user .liste_infos_user {
	border-top: none;
}
.partieD_onglet_parametres .popup_modif_user .liste_infos_user li {
	cursor: default;
}
.partieD_onglet_parametres .popup_modif_user .liste_infos_user li.active_item {
	border-left: none;
}
.partieD_onglet_parametres .popup_modif_user .liste_infos_user .gras_champs_contact {
	font-weight: bold;
	color: #4AB1D3;
}

/* Style popup supprimer utilisateur */  
.partieD_onglet_parametres .popup_sup_user .msg_conf_sup_user p {
	text-align: center;
}
.partieD_onglet_parametres .popup_sup_user .titre_popup_sup_user {
	margin-bottom: 10px;
}
.partieD_onglet_parametres .popup_sup_user .btns_popup_sup_user {
	margin: 0px 10px 10px 0px;
}
.partieD_onglet_parametres .popup_sup_user .btns_popup_sup_user p {
	text-align: center;
}
.partieD_onglet_parametres .popup_sup_user .btns_popup_sup_user input {
	margin: 10px 10px 0px 0px;
}


/* Style du Bloc Options */
.partieD_onglet_parametres .options_liste_users {
	margin-top: 10px;
	border-top: 1px solid #E0E0E0;
}
.partieD_onglet_parametres .options_liste_users ul {
	margin: 10px;
}
.partieD_onglet_parametres #ajouter_user {
	background:url('../img/plus.png') 0% 50% no-repeat no-repeat;
}



/* Popup nouveau contact
   ========================================================================== */
.partieD_onglet_parametres .popup_new_user .titre_popup_new_user {
	margin-bottom: 10px;
}
.partieD_onglet_parametres .popup_new_user .formulaire_new_user {
	padding: 0px 10px;
}
.partieD_onglet_parametres .popup_new_user table th{
	vertical-align: top;
	text-align: right;
	font-weight: bold;
	color: #4AB1D3;
	padding: 2px 0px 2px 0px;
}
.partieD_onglet_parametres .popup_new_user table td{
	padding: 2px 0px 2px 0px;
}
.partieD_onglet_parametres .popup_new_user table .middle_form {
	padding: 0px 10px 0px 10px;
	vertical-align: top;
}
.partieD_onglet_parametres .popup_new_user table .val_form {
	width: 100%;
}
.partieD_onglet_parametres .popup_new_user table .val_form input{
	width: 100%;
}
.partieD_onglet_parametres .popup_new_user table .val_form .btn_radio{
	width: auto;
}
.partieD_onglet_parametres .popup_new_user table .val_form textarea{
	width: 100%;
	height: 100px;
}
.partieD_onglet_parametres .popup_new_user .btns_popup_new_user {
	margin: 0px 10px 10px 0px;
}
.partieD_onglet_parametres .popup_new_user .btns_popup_new_user input {
	margin: 10px 0px 10px 0px;
}