/**
 * @Project: JAYAYA CRM
 * @Author: Equipe JAYAYA
 * @Description: Feuille de style definissant le style de l'onglet contacts de l'onglet principal Clients
 * @version: 1.0
 */


 
/* Liste Des Contacts
   ========================================================================== */
 
.content_clients_contacts .content_liste_contacts {
	padding: 10px 10px 10px 0px;
}
/* Style de la liste */
.content_clients_contacts .content_liste_contacts ul {
	border-top: none;
}
.content_clients_contacts .content_liste_contacts li.active_item {
	background-color: #c8f2ff;
}
.content_clients_contacts .content_liste_contacts li p {
	padding: 2px;
}
.content_clients_contacts .content_liste_contacts .nom_contact {
	font-weight: bold;
	color: #4AB1D3;
}
.content_clients_contacts .content_liste_contacts .statut_contact {
	text-align: right;
	font-weight: bold;
	color: #888888;
}



/* Informations Contact
   ========================================================================== */

.content_clients_contacts .content_infos_contact {
	padding: 10px 0px;
}
.content_clients_contacts .content_infos_contact ul {
	border-top: none;
}
.content_clients_contacts .content_infos_contact li {
	cursor: default;
}
.content_clients_contacts .content_infos_contact li.active_item {
	border-left: none;
}
.content_clients_contacts .content_infos_contact li p {
	padding: 5px;
}
.content_clients_contacts .content_infos_contact li #nom_contact {
	text-align: center;
	color: #888888;
	font-weight: bold;
	font-size: 20px;
}
.content_clients_contacts .content_infos_contact .gras_champs_contact {
	font-weight: bold;
	color: #4AB1D3;
}
.content_clients_contacts .content_infos_contact textarea {
	width: 100%;
}


/* Bloc Boutons Options
   ========================================================================== */
   
.content_clients_contacts .content_options_contacts {
	border-top: 1px solid #E0E0E0;
}
.content_clients_contacts .content_options_contacts ul {
	margin: 10px;
}
.content_clients_contacts .content_options_contacts #nouveau_contact {	
	background:url('../img/plus.png') 0% 50% no-repeat no-repeat;
}
.content_clients_contacts .content_options_contacts #supprimer_contact {
	background:url('../img/sup.png') 0% 50% no-repeat no-repeat;
	float: right;
}



/* Popup nouveau contact
   ========================================================================== */
.content_clients_contacts .popupAjoutContactEntreprise .titre_popup_ajout_contact_entreprise {
	margin-bottom: 10px;
}
.content_clients_contacts .popupAjoutContactEntreprise .formulaire_nouveau_contact {
	padding: 0px 10px;
}
.content_clients_contacts .popupAjoutContactEntreprise table th{
	vertical-align: top;
	text-align: right;
	font-weight: bold;
	color: #4AB1D3;
	padding: 2px 0px 2px 0px;
}
.content_clients_contacts .popupAjoutContactEntreprise table td{
	padding: 2px 0px 2px 0px;
}
.content_clients_contacts .popupAjoutContactEntreprise table .middle_form {
	padding: 0px 10px 0px 10px;
	vertical-align: top;
}
.content_clients_contacts .popupAjoutContactEntreprise table .val_form {
	width: 100%;
}
.content_clients_contacts .popupAjoutContactEntreprise table .val_form input{
	width: 100%;
}
.content_clients_contacts .popupAjoutContactEntreprise table .val_form input[type=button]{
	width: auto;
	float: right;
}
.content_clients_contacts .popupAjoutContactEntreprise table .val_form textarea{
	width: 100%;
	height: 100px;
}
.content_clients_contacts .popupAjoutContactEntreprise .btns_popup_nouveau_contact_entreprise {
	margin: 0px 10px 10px 0px;
}
.content_clients_contacts .popupAjoutContactEntreprise .btns_popup_nouveau_contact_entreprise input {
	margin: 10px 0px 10px 0px;
}



/* Popup supprimer contact
   ========================================================================== */
   
.content_clients_contacts .popupSupContactEntreprise .msg_conf_sup_contact p {
	text-align: center;
}
.content_clients_contacts .popupSupContactEntreprise .titre_popup_sup_contact_entreprise {
	margin-bottom: 10px;
}
.content_clients_contacts .popupSupContactEntreprise .btns_popup_sup_contact_entreprise {
	margin: 0px 10px 10px 0px;
}
.content_clients_contacts .popupSupContactEntreprise .btns_popup_sup_contact_entreprise p {
	text-align: center;
}
.content_clients_contacts .popupSupContactEntreprise .btns_popup_sup_contact_entreprise input {
	margin: 10px 10px 0px 0px;
}
