/**
 * @Project: JAYAYA CRM
 * @Author: Equipe JAYAYA
 * @Description: Feuille de style definissant le style de l'onglet general de l'onglet principal Clients
 * @version: 1.0
 */



/* Liste Concernes par
   ========================================================================== */

.content_clients_general .content_concern {
	padding: 10px 10px 10px 0px;
}
.content_clients_general .content_concern ul {
	border: 1px solid #E0E0E0;
	border-top: none;
}
.content_clients_general .content_concern li {
	padding: 10px;
	font-size: large;
}
.content_clients_general .content_concern .btn_sup {
	float: right;
}
.content_clients_general .content_concern .rect_type {
	border: 1px solid #E0E0E0;
	margin-right: 10px;
}



/* Liste des Commentaires
   ========================================================================== */

.content_clients_general .content_com {
	padding: 10px 0px;
}
.content_clients_general .content_com ul {
	border-top: none;
}
.content_clients_general .content_com li {
	cursor: default;
}
.content_clients_general .content_com li.active_item {
	border-left: none;
}
.content_clients_general .content_com li p {
	padding: 5px;
}
.content_clients_general .content_com .pseudo_com {
	float: left;
	font-weight: bold;
	color: #4AB1D3;
}
.content_clients_general .content_com .date_com {
	float: right;
	color: #888888;
}
.content_clients_general .content_com .heure_com {
	float: right;
	color: #888888;
}
.content_clients_general .content_com .msg_com {
	clear: both;
}



/* Bloc Boutons Options
   ========================================================================== */
   
.content_clients_general .content_options_general {
	border-top: 1px solid #E0E0E0;
}
.content_clients_general .content_options_general ul {
	margin: 10px;
}
.content_clients_general .content_options_general #nouveau_ci {
	background:url('../img/plus.png') 0% 50% no-repeat no-repeat;
}
.content_clients_general .content_options_general #nouveau_com {
	background:url('../img/plus.png') 0% 50% no-repeat no-repeat;
	float: right;
}



/* Popup Ajouter centre d'interet
   ========================================================================== */
.content_clients_general .popupAjoutCentreInteret .titre_popup_nouveau_domaine {
	margin-bottom: 10px;
} 
.content_clients_general .popupAjoutCentreInteret .gc_liste_domaines {
	padding: 0px 10px;
}
.content_clients_general .popupAjoutCentreInteret .gc_liste_domaines select{
	width: 100%;
	margin-bottom: 10px;
}
.content_clients_general .popupAjoutCentreInteret .gc_liste_domaines input{
	float: right
}




/* Popup Nouveau commentaire
   ========================================================================== */
.content_clients_general .popupAjoutComGeneral .titre_popup_nouveau_com {
	margin-bottom: 10px;
} 
.content_clients_general .popupAjoutComGeneral .content_commentaire {
	padding: 0px 10px;
}
.content_clients_general .popupAjoutComGeneral table th{
	vertical-align: top;
	text-align: right;
	font-weight: bold;
	color: #4AB1D3;
	padding: 2px 0px 2px 0px;
}
.content_clients_general .popupAjoutComGeneral table td{
	padding: 2px 0px 2px 0px;
}
.content_clients_general .popupAjoutComGeneral table .middle_form {
	padding: 0px 10px 0px 10px;
	vertical-align: top;
}
.content_clients_general .popupAjoutComGeneral table .val_form {
	width: 100%;
}
.content_clients_general .popupAjoutComGeneral table .val_form input{
	width: 100%;
}
.content_clients_general .popupAjoutComGeneral table .val_form textarea{
	width: 100%;
	height: 100px;
}
.content_clients_general .popupAjoutComGeneral .btns_popup_nouvelle_entreprise {
	margin: 0px 10px 10px 0px;
}
.content_clients_general .popupAjoutComGeneral .btns_popup_nouvelle_entreprise input {
	margin: 10px 0px 10px 0px;
}