/**
 * @Project: JAYAYA CRM
 * @Author: Equipe JAYAYA
 * @Description: Feuille de style de l'onglet principal Clients
 * @version: 1.0
 */
   
   
 
/* Partie Gauche
   ========================================================================== */

.partieG_onglet_client {
	border-right: 1px solid #E0E0E0;
	padding: 10px 10px 0px 10px;
}

/* Style des onglets */
.partieG_onglet_client .nav_all_contacts {
	border-bottom: 1px solid #E0E0E0;
}
.partieG_onglet_client .nav_all_contacts li {
	margin: 0px 10px 0px 0px;
	font-size: 20px;
	padding-bottom: 2px;
	height: 20px;
}
.partieG_onglet_client .nav_all_contacts li .notif-badge {
	top: -8px;
	right: -8px;
}



/* Partie Droite
   ========================================================================== */

.partieD_onglet_client {
	padding: 10px 10px 0px 10px;
}

/* Style du titre Nom Contact */
.partieD_onglet_client .nom_contact p {
	font-size: xx-large;
	text-align: center;
	padding: 40px;
	font-weight: bold;
	color: #888888;
}

/* Style du Navigateur */
.partieD_onglet_client .nav_clients {
	border-bottom: 1px solid #E0E0E0;
}
.partieD_onglet_client .nav_clients li {
	margin: 0px 10px 0px 0px;
	font-size: 20px;
	padding-bottom: 2px;
	height: 20px;
}
.partieD_onglet_client .nav_clients li .notif-badge {
	top: -8px;
	right: -8px;
}