/**
 * @Project: JAYAYA CRM
 * @Author: Equipe JAYAYA
 * @Description: Feuille de style definissant le style de l'onglet liste des entreprises de l'onglet Clients
 * @version: 1.0
 */


 
/* Style du Bloc Recherche */
.partieG_onglet_client .bloc_recherche {	
	padding: 10px 0px;
}
.partieG_onglet_client .bloc_recherche input {	
	width: 100%;
}

/* Style de la liste des contacts */
.partieG_onglet_client .liste_contacts li.active_item {
	background-color: #c8f2ff;
}
.partieG_onglet_client .liste_contacts li p {
	padding: 5px;
}
.partieG_onglet_client .liste_contacts .nom_contact {
	font-weight: bold;
	color: #4AB1D3;
}
.partieG_onglet_client .liste_contacts .nb_contact {
	text-align: right;
	font-weight: bold;
	color: #888888;
}

/* Style du Bloc Options */
.partieG_onglet_client .content_options_liste_c {
	margin-top: 10px;
	border-top: 1px solid #E0E0E0;
}
.partieG_onglet_client .content_options_liste_c ul {
	margin: 10px;
}
.partieG_onglet_client #ajouter_contact {
	background:url('../img/plus.png') 0% 50% no-repeat no-repeat;
}

/* Style du Popup nouvelle entreprise */
.partieG_onglet_client .popupAjoutContact .titre_popup_nouveau_contact {
	margin-bottom: 10px;
}
.partieG_onglet_client .popupAjoutContact .formulaire_nouvelle_entreprise {
	padding: 0px 10px;
}
.partieG_onglet_client .popupAjoutContact table th{
	vertical-align: top;
	text-align: right;
	font-weight: bold;
	color: #4AB1D3;
	padding: 2px 0px 2px 0px;
}
.partieG_onglet_client .popupAjoutContact table td{
	padding: 2px 0px 2px 0px;
}
.partieG_onglet_client .popupAjoutContact table .middle_form {
	padding: 0px 10px 0px 10px;
	vertical-align: top;
}
.partieG_onglet_client .popupAjoutContact table .val_form {
	width: 100%;
}
.partieG_onglet_client .popupAjoutContact table .val_form input{
	width: 100%;
}
.partieG_onglet_client .popupAjoutContact table .val_form textarea{
	width: 100%;
	height: 100px;
}
.partieG_onglet_client .popupAjoutContact .btns_popup_nouvelle_entreprise {
	margin: 0px 10px 10px 0px;
}
.partieG_onglet_client .popupAjoutContact .btns_popup_nouvelle_entreprise input {
	margin: 10px 0px 10px 0px;
}